<!------------------------------------- HEADER ---------------------------------------->
<%- include('./header'); %>     
<!------------------------------------- NAVBAR ---------------------------------------->
<%- include('./navbar'); %>   
<!------------------------------------- BODY ------------------------------------------> 
<section class="container text-center my-3">
    <h1>Eliminar una película por ID</h1>
    <form action="/peliculas/eliminar_id" method="POST">
      
        <div class="row mb-3">
            <div class="col-md-12">
                <select class="form-select" name="id" required>
                    <option value="">Número de ID de la película</option>
                    <% ids.forEach(item => { %>
                        <option value="<%= item.id %>"><%= item.id %></option>
                    <% }); %>
                </select>
            </div>
        </div>

      <h6 class="text-start text-muted">Todos los campos son obligatorios</h6>
  
      <div class="d-grid">
        <button type="submit" class="btn btn-block botonFormEliminar">Eliminar por ID</button>
      </div>
      
    </form>
</section>

<section class="container text-center my-3">
    <h1>Eliminar una película por título</h1>
    <form action="/peliculas/eliminar_titulo" method="POST">
      
        <div class="row mb-3">
            <div class="col-md-12">
                <select class="form-select" name="titulo" required>
                    <option value="">Título de la película</option>
                    <% titulos.forEach(item => { %>
                      <option value="<%= item.titulo %>"><%= item.titulo %></option>
                    <% }); %>
                </select>
            </div>
        </div>
  
      <h6 class="text-start text-muted">Todos los campos son obligatorios</h6>
  
      <div class="d-grid">
        <button type="submit" class="btn btn-block botonFormEliminar">Eliminar por título</button>
      </div>
      
    </form>
</section>
<% if (mensaje) { %>
    <p class="text-center">
        <%= mensaje %>
    </p>
<% } %>
<!------------------------------------- FOOTER ------------------------------------------>
<%- include('./footer'); %>