    <!------------------------------------- HEADER ---------------------------------------->
    <%- include('./header'); %>     
    <!------------------------------------- NAVBAR ---------------------------------------->
    <%- include('./navbar'); %>          
    <!------------------------------------- BODY ------------------------------------------>
    <h1 style="text-align: center;">Películas</h1>
    <table>
      <thead>
        <tr>
          <th>Título</th>
          <th>Año</th>
          <th>Origen</th>
        </tr>
      </thead>
      <tbody>
        <% peliculas.forEach(pelicula => { %>
          <tr>
            <td><%= pelicula.titulo %></td>
            <td><%= pelicula.anio %></td>
            <td><%= pelicula.origen %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <!------------------------------------- FOOTER ------------------------------------------>
    <%- include('./footer'); %>