    <!------------------------------------- HEADER ---------------------------------------->
    <%- include('./header'); %>
    <!------------------------------------- NAVBAR ---------------------------------------->
    <%- include('./navbar'); %>
    <!------------------------------------- BODY ------------------------------------------>  
    <h1>Películas Nacionales</h1>
    <table>
      <thead>
        <tr>
          <th>Título</th>
          <th>Año</th>
        </tr>
      </thead>
      <tbody>
        <% peliculas.forEach(pelicula => { %>
          <tr>
            <td><%= pelicula.titulo %></td>
            <td><%= pelicula.anio %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>  
    <!------------------------------------- FOOTER ------------------------------------------>
    <%- include('./footer'); %>